In [20]:
import pandas as pd
import barnum

In [21]:
numTimes = 100
zip_codes = []
i = int
hasAllZipcodes = False

while hasAllZipcodes == False:
    theZipCode = barnum.create_city_state_zip()[0]
    numZipCode = int(theZipCode)
    if (numZipCode >= 90001) and (numZipCode <= 93005):
        zip_codes.append(theZipCode)
    if (numTimes == len(zip_codes)):
        hasAllZipcodes = True 
   
    
print(zip_codes)

['92414', '92282', '90292', '91921', '91909', '92673', '91786', '91304', '92263', '92232', '92347', '92096', '92161', '92836', '92509', '92549', '90310', '90264', '90602', '90701', '92781', '92504', '90721', '90070', '91906', '92113', '90019', '92222', '92805', '92377', '92630', '92191', '90622', '92304', '92410', '92009', '92677', '92358', '92270', '92556', '91129', '92519', '92325', '92506', '92816', '92878', '91101', '92090', '91350', '90310', '90503', '92241', '92413', '90039', '92424', '91204', '92629', '92114', '91214', '90506', '90018', '90066', '91106', '91735', '90398', '92220', '92145', '92657', '90620', '90650', '92625', '92703', '91367', '92544', '91126', '92860', '90714', '92427', '90232', '90019', '91225', '92266', '92369', '92132', '92871', '91331', '92226', '91126', '92270', '91377', '92101', '92411', '92807', '90639', '92653', '91767', '90037', '91025', '92844', '92223']

In [22]:
theZipCode = barnum.create_city_state_zip()[0]
print(type(theZipCode))

<class 'str'>

In [23]:
zip_code_list = pd.DataFrame(zip_codes)

zip_code_list.columns = ["Zip Codes"]
zip_code_list

   Zip Codes
0      92414
1      92282
2      90292
3      91921
4      91909
5      92673
6      91786
7      91304
8      92263
9      92232
10     92347
11     92096
12     92161
13     92836
14     92509
15     92549
16     90310
17     90264
18     90602
19     90701
20     92781
21     92504
22     90721
23     90070
24     91906
25     92113
26     90019
27     92222
28     92805
29     92377
..       ...
70     92625
71     92703
72     91367
73     92544
74     91126
75     92860
76     90714
77     92427
78     90232
79     90019
80     91225
81     92266
82     92369
83     92132
84     92871
85     91331
86     92226
87     91126
88     92270
89     91377
90     92101
91     92411
92     92807
93     90639
94     92653
95     91767
96     90037
97     91025
98     92844
99     92223

[100 rows x 1 columns]

In [24]:
numTimes = 2
zip_codes = []
i = int
hasAllZipcodes = False

while hasAllZipcodes == False:
    theZipCode = barnum.create_city_state_zip()[0]
    numZipCode = int(theZipCode)
    if (numZipCode >= 90001) and (numZipCode <= 93005):
        zip_codes.append(theZipCode)
    if (numTimes == len(zip_codes)):
        hasAllZipcodes = True 
   
    
print(zip_codes)

['91526', '92352']

In [25]:
zip_code_list = pd.DataFrame(zip_codes)

zip_code_list.columns = ["Zip Codes"]

zip_code_list

  Zip Codes
0     91526
1     92352