# 3 Data Collection: Merge
The final step in the data collection is to merge the summarized Yelp data with the census data to create the DataFrame used in the analysis. The resulting DataFrame is saved to disk as "final_merged_data.csv".

In [9]:
#-- Import Libraries
import pandas as pd
import os


#-- Configuration Settings

# Folder that is to contain output of different processing
outputDirectory = "AnalysisData"

# Name of file that contains summarized Yelp data
summarizedYelpFileName = "summarizedYelpData.csv"

# Name of the file that contains income from Yelp data
censusIncomeFileName = "incomebyzip.csv"

# Name of the file that contains the DataFrame with the merged data
mergeResultFileName = "final_merged_data.csv"

## 3.1 Get Sumarized Yelp Data
Reads the file that contains the summarized Yelp data.

In [6]:
#-- Get Yelp Data

#- Determine Path
summarizedYelpDataFilePath = os.path.join('.', outputDirectory, summarizedYelpFileName)


#- Get DataFrame
yelp_df = pd.read_csv(summarizedYelpDataFilePath)


#- Update Pandas to show all columns
pd.set_option('display.max_columns', 500)


#- Preview DataFrame
print(yelp_df.shape)
yelp_df.head()

(107, 40)

,Unnamed: 0,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,GF_Rating_20,GF_Rating_25,GF_Rating_30,GF_Rating_35,GF_Rating_40,GF_Rating_45,GF_Rating_50,GF_Price_Mean,GF_Rating_Mean,GF_Price_Std,GF_Rating_Std,ALL_Total,ALL_Price_1,ALL_Price_2,ALL_Price_3,ALL_Price_4,ALL_Price_0,ALL_Rating_10,ALL_Rating_15,ALL_Rating_20,ALL_Rating_25,ALL_Rating_30,ALL_Rating_35,ALL_Rating_40,ALL_Rating_45,ALL_Rating_50,ALL_Price_Mean,ALL_Rating_Mean,ALL_Price_Std,ALL_Rating_Std
0,0,90006,26,7,15,2,0,0,0,1,1,0,0,6,13,4,1,1.791667,3.826923,0.588230,0.720310,217,98,76,4,0,0,4,7,8,12,20,47,68,34,17,1.471910,3.663594,0.543890,0.890907
1,1,90028,135,37,77,16,1,0,0,0,0,4,9,38,55,27,2,1.854962,3.862963,0.645959,0.501601,287,111,130,20,2,0,2,4,16,20,34,73,83,46,9,1.669202,3.594077,0.648605,0.787711
2,2,90032,7,3,4,0,0,0,0,1,0,0,0,1,2,2,1,1.571429,3.857143,0.534522,1.144344,67,49,10,0,0,0,2,3,3,3,3,10,16,17,10,1.169492,3.798507,0.378406,1.048302
3,3,90033,7,2,5,0,0,0,0,0,0,0,0,0,3,3,1,1.714286,4.357143,0.487950,0.377964,140,86,26,1,0,0,1,1,9,7,15,17,32,37,21,1.247788,3.871429,0.453773,0.906355
4,4,90035,43,5,35,1,0,0,0,0,2,0,2,12,14,11,2,1.902439,3.895349,0.374492,0.641410,107,28,64,3,1,0,0,4,3,7,10,23,33,19,8,1.760417,3.714953,0.557150,0.827340

## 3.2 Expore Yelp Data
Check the zipcode column within the Yelp data.

In [5]:
#- Determine the number of columns that have NaN values
yelp_df.count()

Unnamed: 0         107
Zipcode            107
GF_Total           107
GF_Price_1         107
GF_Price_2         107
GF_Price_3         107
GF_Price_4         107
GF_Price_0         107
GF_Rating_10       107
GF_Rating_15       107
GF_Rating_20       107
GF_Rating_25       107
GF_Rating_30       107
GF_Rating_35       107
GF_Rating_40       107
GF_Rating_45       107
GF_Rating_50       107
GF_Price_Mean       74
GF_Rating_Mean      75
GF_Price_Std        60
GF_Rating_Std       60
ALL_Total          107
ALL_Price_1        107
ALL_Price_2        107
ALL_Price_3        107
ALL_Price_4        107
ALL_Price_0        107
ALL_Rating_10      107
ALL_Rating_15      107
ALL_Rating_20      107
ALL_Rating_25      107
ALL_Rating_30      107
ALL_Rating_35      107
ALL_Rating_40      107
ALL_Rating_45      107
ALL_Rating_50      107
ALL_Price_Mean     100
ALL_Rating_Mean    105
ALL_Price_Std       86
ALL_Rating_Std      91
dtype: int64

In [7]:
#- Determine Column Types
yelp_df.dtypes

Unnamed: 0           int64
Zipcode              int64
GF_Total             int64
GF_Price_1           int64
GF_Price_2           int64
GF_Price_3           int64
GF_Price_4           int64
GF_Price_0           int64
GF_Rating_10         int64
GF_Rating_15         int64
GF_Rating_20         int64
GF_Rating_25         int64
GF_Rating_30         int64
GF_Rating_35         int64
GF_Rating_40         int64
GF_Rating_45         int64
GF_Rating_50         int64
GF_Price_Mean      float64
GF_Rating_Mean     float64
GF_Price_Std       float64
GF_Rating_Std      float64
ALL_Total            int64
ALL_Price_1          int64
ALL_Price_2          int64
ALL_Price_3          int64
ALL_Price_4          int64
ALL_Price_0          int64
ALL_Rating_10        int64
ALL_Rating_15        int64
ALL_Rating_20        int64
ALL_Rating_25        int64
ALL_Rating_30        int64
ALL_Rating_35        int64
ALL_Rating_40        int64
ALL_Rating_45        int64
ALL_Rating_50        int64
ALL_Price_Mean     float64
ALL_Rating_Mean    float64
ALL_Price_Std      float64
ALL_Rating_Std     float64
dtype: object

## 3.3 Get Census Data
Read in the DataFrame that contains the income for the zipcode.

In [11]:
#- Determine Path
incomeFilePath = os.path.join('.', outputDirectory, censusIncomeFileName)

#- Open DataFrame
income_df = pd.DataFrame(pd.read_csv(incomeFilePath))


#- Preview Data
print(income_df.shape)

income_df.head()

(30662, 9)

,Unnamed: 0,Population,"Households with household income $200,000 or more",Median family income,Households,Name,Zipcode,"Percent of households with income over $200,000",ZipCode
0,0,17423.0,146.0,82512.0,7190.0,ZCTA5 01001,1001,2.030598,1001
1,1,29970.0,722.0,94489.0,9561.0,ZCTA5 01002,1002,7.551511,1002
2,3,5228.0,89.0,99127.0,1840.0,ZCTA5 01005,1005,4.836957,1005
3,4,14888.0,350.0,92100.0,5611.0,ZCTA5 01007,1007,6.237747,1007
4,5,1194.0,24.0,72000.0,530.0,ZCTA5 01008,1008,4.528302,1008

## 3.4 Explore Census Data
Check the zipcode column within the census data

In [13]:
#- Determine Column Types
income_df.dtypes

Unnamed: 0                                             int64
Population                                           float64
Households with household income $200,000 or more    float64
Median family income                                 float64
Households                                           float64
Name                                                  object
Zipcode                                                int64
Percent of households with income over $200,000      float64
ZipCode                                                int64
dtype: object

## 3.5 Merge Data
The "Zipcode" column is used to merge the Yelp data with the census.  The exploration of the DataFrame has show that these have the same column type.

In [15]:
#- Merge Data
all_data_df = pd.merge(yelp_df, income_df, how ="left", on= "Zipcode")


#- Preview Data
print(all_data_df.shape)

all_data_df.head()

(107, 48)

,Unnamed: 0_x,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,GF_Rating_20,GF_Rating_25,GF_Rating_30,GF_Rating_35,GF_Rating_40,GF_Rating_45,GF_Rating_50,GF_Price_Mean,GF_Rating_Mean,GF_Price_Std,GF_Rating_Std,ALL_Total,ALL_Price_1,ALL_Price_2,ALL_Price_3,ALL_Price_4,ALL_Price_0,ALL_Rating_10,ALL_Rating_15,ALL_Rating_20,ALL_Rating_25,ALL_Rating_30,ALL_Rating_35,ALL_Rating_40,ALL_Rating_45,ALL_Rating_50,ALL_Price_Mean,ALL_Rating_Mean,ALL_Price_Std,ALL_Rating_Std,Unnamed: 0_y,Population,"Households with household income $200,000 or more",Median family income,Households,Name,"Percent of households with income over $200,000",ZipCode
0,0,90006,26,7,15,2,0,0,0,1,1,0,0,6,13,4,1,1.791667,3.826923,0.588230,0.720310,217,98,76,4,0,0,4,7,8,12,20,47,68,34,17,1.471910,3.663594,0.543890,0.890907,29884.0,61230.0,155.0,32273.0,19474.0,ZCTA5 90006,0.795933,90006.0
1,1,90028,135,37,77,16,1,0,0,0,0,4,9,38,55,27,2,1.854962,3.862963,0.645959,0.501601,287,111,130,20,2,0,2,4,16,20,34,73,83,46,9,1.669202,3.594077,0.648605,0.787711,29905.0,31122.0,399.0,45905.0,16201.0,ZCTA5 90028,2.462811,90028.0
2,2,90032,7,3,4,0,0,0,0,1,0,0,0,1,2,2,1,1.571429,3.857143,0.534522,1.144344,67,49,10,0,0,0,2,3,3,3,3,10,16,17,10,1.169492,3.798507,0.378406,1.048302,29908.0,47285.0,268.0,45433.0,13409.0,ZCTA5 90032,1.998658,90032.0
3,3,90033,7,2,5,0,0,0,0,0,0,0,0,0,3,3,1,1.714286,4.357143,0.487950,0.377964,140,86,26,1,0,0,1,1,9,7,15,17,32,37,21,1.247788,3.871429,0.453773,0.906355,29909.0,49156.0,102.0,31595.0,13170.0,ZCTA5 90033,0.774487,90033.0
4,4,90035,43,5,35,1,0,0,0,0,2,0,2,12,14,11,2,1.902439,3.895349,0.374492,0.641410,107,28,64,3,1,0,0,4,3,7,10,23,33,19,8,1.760417,3.714953,0.557150,0.827340,29911.0,30582.0,1922.0,98792.0,13140.0,ZCTA5 90035,14.627093,90035.0

## 3.6 Rename Columns
Create a new DataFrame with the columns renamed for use for the different charts.

In [18]:
#- Create DataFrame with Column Names
complete_df = pd.DataFrame({"Zip Code":all_data_df["Zipcode"],
              "Total GF Rest":all_data_df["GF_Total"],
              "Total Number GF $":all_data_df["GF_Price_1"],
              "Total Number GF $$":all_data_df["GF_Price_2"], 
              "Total Number GF $$$":all_data_df["GF_Price_3"],
              "Total Number GF $$$$":all_data_df["GF_Price_4"],
              "Num of Households with income $200,000 or more":all_data_df["Households with household income $200,000 or more"],
              "Median family income":all_data_df["Median family income"],
              "Percent of households with income over $200,000":all_data_df["Percent of households with income over $200,000"],
              "ALL Total":all_data_df['ALL_Total']})

#- Preview DataFrame
print(complete_df.shape)

complete_df.head()

(107, 10)

,Zip Code,Total GF Rest,Total Number GF $,Total Number GF $$,Total Number GF $$$,Total Number GF $$$$,"Num of Households with income $200,000 or more",Median family income,"Percent of households with income over $200,000",ALL Total
0,90006,26,7,15,2,0,155.0,32273.0,0.795933,217
1,90028,135,37,77,16,1,399.0,45905.0,2.462811,287
2,90032,7,3,4,0,0,268.0,45433.0,1.998658,67
3,90033,7,2,5,0,0,102.0,31595.0,0.774487,140
4,90035,43,5,35,1,0,1922.0,98792.0,14.627093,107

## 3.7 Save Merged DataFrame
Save the merge data to CSV

In [19]:
#- Save DataFrame
mergeResultFilePath = os.path.join('.', outputDirectory, mergeResultFileName)

complete_df.to_csv(mergeResultFilePath)

print(f'Completed export of complete dataframe. Path: {mergeResultFilePath}')

Completed export of complete dataframe. Path: ./AnalysisData/final_merged_data.csv