Merging ALL csv files

In [16]:
import glob
import pandas as pd

# use your path
#path = r'../Output'

#yelp_files = glob.glob(path + "/*.csv")

#list = []

#for filename in yelp_files:
 #   df = pd.read_csv(filename, index_col=None, header=0)
#    list.append(df)

#frame = pd.concat(list, axis=0, ignore_index=True, sort=False)

frame = pd.read_csv("summarizedYelpData.csv")

In [17]:
yelp_df = pd.DataFrame(frame)
yelp_df.head()

,Unnamed: 0,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,...,ALL_Rating_25,ALL_Rating_30,ALL_Rating_35,ALL_Rating_40,ALL_Rating_45,ALL_Rating_50,ALL_Price_Mean,ALL_Rating_Mean,ALL_Price_Std,ALL_Rating_Std
0,0,90006,26,7,15,2,0,0,0,1,...,12,20,47,68,34,17,1.471910,3.663594,0.543890,0.890907
1,1,90028,135,37,77,16,1,0,0,0,...,20,34,73,83,46,9,1.669202,3.594077,0.648605,0.787711
2,2,90032,7,3,4,0,0,0,0,1,...,3,3,10,16,17,10,1.169492,3.798507,0.378406,1.048302
3,3,90033,7,2,5,0,0,0,0,0,...,7,15,17,32,37,21,1.247788,3.871429,0.453773,0.906355
4,4,90035,43,5,35,1,0,0,0,0,...,7,10,23,33,19,8,1.760417,3.714953,0.557150,0.827340

In [18]:
#drop any entries without a zipcode using column =

clean_yelp_df=yelp_df[pd.notnull(yelp_df['Zipcode'])]

clean_yelp_df.head()

,Unnamed: 0,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,...,ALL_Rating_25,ALL_Rating_30,ALL_Rating_35,ALL_Rating_40,ALL_Rating_45,ALL_Rating_50,ALL_Price_Mean,ALL_Rating_Mean,ALL_Price_Std,ALL_Rating_Std
0,0,90006,26,7,15,2,0,0,0,1,...,12,20,47,68,34,17,1.471910,3.663594,0.543890,0.890907
1,1,90028,135,37,77,16,1,0,0,0,...,20,34,73,83,46,9,1.669202,3.594077,0.648605,0.787711
2,2,90032,7,3,4,0,0,0,0,1,...,3,3,10,16,17,10,1.169492,3.798507,0.378406,1.048302
3,3,90033,7,2,5,0,0,0,0,0,...,7,15,17,32,37,21,1.247788,3.871429,0.453773,0.906355
4,4,90035,43,5,35,1,0,0,0,0,...,7,10,23,33,19,8,1.760417,3.714953,0.557150,0.827340

In [19]:
#convert Zipcodes to an integer then to a string so that we can 

clean_yelp_df["Zipcode"]=clean_yelp_df["Zipcode"].astype(int)

clean_yelp_df["Zipcode"]=clean_yelp_df["Zipcode"].astype(str)

clean_yelp_df.head()

#df.set_index(["Zipcode"])

,Unnamed: 0,Zipcode,GF_Total,GF_Price_1,GF_Price_2,GF_Price_3,GF_Price_4,GF_Price_0,GF_Rating_10,GF_Rating_15,...,ALL_Rating_25,ALL_Rating_30,ALL_Rating_35,ALL_Rating_40,ALL_Rating_45,ALL_Rating_50,ALL_Price_Mean,ALL_Rating_Mean,ALL_Price_Std,ALL_Rating_Std
0,0,90006,26,7,15,2,0,0,0,1,...,12,20,47,68,34,17,1.471910,3.663594,0.543890,0.890907
1,1,90028,135,37,77,16,1,0,0,0,...,20,34,73,83,46,9,1.669202,3.594077,0.648605,0.787711
2,2,90032,7,3,4,0,0,0,0,1,...,3,3,10,16,17,10,1.169492,3.798507,0.378406,1.048302
3,3,90033,7,2,5,0,0,0,0,0,...,7,15,17,32,37,21,1.247788,3.871429,0.453773,0.906355
4,4,90035,43,5,35,1,0,0,0,0,...,7,10,23,33,19,8,1.760417,3.714953,0.557150,0.827340

In [20]:

#save to csv
clean_yelp_df.to_csv("yelpdata.csv")